.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.accountSection {
  background-color: #1A1F26;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.account {
  padding: 10px;
}

.accountName {
  font-weight: bold;
  text-align: center;
}

.accountBalance {
  text-align: center;
}

.headers {
  display: flex;
  padding: 5px;
}

.cell2 {
    flex: 2;
    margin-right: 10px;
}

.cell1 {
    flex: 1;
    margin-right: 10px;
}