html {
  background-color: #0B0D10;
  color: #E6E9EE;
  min-height: 100vh;
  font-size: 1.1rem;
}

h1 {
    font-size: 3rem;
    margin: 20px 0;
}

h3 {
    font-size: 1.5rem;
}

p, a {
    font-size: 1.1rem;
}

a {
    color: #87C1FF;
    text-decoration: none;
}

.center {
    align-self: center;
}