.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.container button {
  border-radius: 5px;
  border: none;
  padding: 10px;
  height: 100%;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.section {
  margin-bottom: 25px;
}

.section h2, .monthlyAmts h2 {
  margin-top: 0;
}

.monthlyAmts {
  display: flex;
  padding: 0 25%;
  flex-direction: column;
  margin-bottom: 25px;
}

.monthlyAmtsBackground {
  background-color: #1A1F26;
  border-radius: 5px;
  padding: 1rem;
}

.singleMonthAmt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.save {
  background-color: green;
}

.delete {
  background-color: red;
}